#include <windows.h>
#include "resource.h"

IDI_MAIN_ICON ICON "app.ico"

DLG_ABOUT DIALOGEX 0, 0, 280, 160
STYLE DS_MODALFRAME | DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About"
FONT 12, "MS Shell Dlg"
BEGIN
    ICON IDI_MAIN_ICON, -1, 20, 16, 32, 32
    LTEXT "", 101, 64, 18, 180, 20
    LTEXT "", 102, 20, 60, 240, 40
    PUSHBUTTON "OK", IDOK, 105, 125, 70, 24
END

VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
FILEFLAGSMASK   0x3fL
FILEFLAGS       0x0L
FILEOS          0x40004L
FILETYPE        0x1L
FILESUBTYPE     0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404B0"
        BEGIN
            VALUE "CompanyName", "AudioFormatConverter"
            VALUE "FileDescription", "\97f3\9891\683c\5f0f\8f6c\6362\5668"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "AudioConverter"
            VALUE "LegalCopyright", ""
            VALUE "OriginalFilename", "AudioConverter.exe"
            VALUE "ProductName", "\97f3\9891\683c\5f0f\8f6c\6362\5668"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1200
    END
END
