#include <windows.h>
#include "resource.h"

IDI_MAIN_ICON ICON "app.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
FILEFLAGSMASK   0x3fL
FILEFLAGS       0x0L
FILEOS          0x40004L
FILETYPE        0x1L
FILESUBTYPE     0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404B0"
        BEGIN
            VALUE "CompanyName", "AudioFormatConverter"
            VALUE "FileDescription", "\97f3\9891\683c\5f0f\8f6c\6362\5668"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "AudioConverter"
            VALUE "LegalCopyright", ""
            VALUE "OriginalFilename", "AudioConverter.exe"
            VALUE "ProductName", "\97f3\9891\683c\5f0f\8f6c\6362\5668"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1200
    END
END
